*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.info {
    color: #fff;
    background-color: #000;
    position: fixed;
    padding: 20px;
    opacity: 0.6;
    top: 0px;
    right: 0px;
    z-index: 100;
    max-height: 400px;
    width: 240px;
    overflow: auto;
}

.info-body {
    overflow: auto;
}

nav {
    color: black;
    position: relative;
}

ul {
    list-style: none;
}

nav>ul {
    display: flex;
    

}

nav>ul li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.submenu {
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    padding-left: 20px;
}

.submenu ul {
    display: inline-block;
}

.submenu li {
    padding: 10px 10px;
    position: relative;
    /* display: inline-block; */
}

.submenu li:hover {
    /* background-color: burlywood; */
}

.submenu ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 150ms ease-in;
    background-color: red;
}

nav > ul li:hover a {
    background-color: burlywood;
}

nav > ul li:hover .submenu {
    display: block;
}

.submenu li:hover::after {
    transform: scaleX(1);
}

.section {
    position: relative;
}

.section h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.section1 {
    width: 100%;
    height: 500px;
    background-image: url('images/elephant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section2,
.section3,
.section4,
.section5 {
    padding: 20px;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section p {
    width: 800px;
    padding: 20px;
    color: white;
    font-size: 2rem;
}

.section2 {
    background-color: green;
}

.section3 {
    background-color: lightblue;
    
}

.fade {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fadein {
    opacity: 1;
}

.section4 {
    background-color: midnightblue;
}

.section5 {
    background-color: palegoldenrod;
}